.card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    list-style-type: none;
}



.card__image{
    height: 282px;
    width: 282px;
}

.card__title{
    max-width: 220px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;

}

.card__description{
    display: flex;   
    background-color: white;
    color: black;
    padding: 25px 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.card__like-button{
    background: transparent url(../images/like-inactive.svg) center no-repeat;
    height: 18px;
    width: 21px;
    border: none;
    cursor: pointer;
}

.card__like-button:hover{
    opacity: 50%; 
    transition: linear 0.1s;
}

