.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  display: none;
}

.modal_opened {
  display: flex;
} 

.modal__container {
  background-color: white;
  position: relative;
  margin: auto;
  padding: 36px 50px;
  border-radius: 10px;
  border-radius: 8px;
  max-width: 730px;

}

.modal__heading {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

.title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.description {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.modal__close {
  background-image: url(../images/close.svg);
  border: none;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  right: -45px;
  top: -45px;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 0.5;
}

.modal__form {
  display:flex;
  flex-direction: column; 
  margin: 36px 0 0;
}

@media screen and (max-width: 720px) {
  .modal__close {
    bottom: calc(100% + 14px);
    right: 0;
    height: 26px;
    width: 26px;
  }
}
